.row.row-offcanvas.row-offcanvas-right
  #sidebar.col-sm-3.sidebar-offcanvas{:role => "navigation"}
    .row
      .list-group
        .list-group-item{style: "text-align: center;"}
          %a.btn.btn-primary{:href => "/campaigns/new"} 创建Campaign
        .list-group-item
          campaign
          %span.badge= @user.campaign.count
        .list-group-item
          api呼叫 
          %span.badge= @user.entities.count


  .col-sm-9
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th 名称
          %th 描述
          %th 字段数
          %th 呼叫数
          %th 明细
          %th 编辑
      %tbody
        - @campaigns.each do |campaign|
          %tr.campaign{id: "campaign_#{campaign.id}" }
            %td= campaign.name 
            %td= campaign.desc
            %td= campaign.colnum
            %td= link_to campaign.entity.count.to_s, "/campaigns/#{campaign.id}/entities", class: "badge"
            %td= link_to "明细", "/campaigns?id=#{campaign.id}"
            %td= link_to "编辑", "/campaigns/#{campaign.id}/edit"
