%h2{style: "margin: 0px auto 10px auto;"}= @campaign.name

=link_to "返回", "/campaigns?id=#{@campaign.id}", class: "right btn btn-default", style: "margin-top: -45px;"

%table.table.table-condensed.table-strip.table-hover
  %thead
    %tr
      -(1..@campaign.colnum).each do |i|
        %th= @campaign.instance_variable_get("@column#{i}") 
  %tbody
    - @campaign.entity.each do |entity|
      %tr
        -(1..@campaign.colnum).each do |i|
          %td= entity.instance_variable_get("@column#{i}")
