%h2{style: "margin: 0px auto 5px auto;"}=@campaign.name

=link_to "编辑", "/campaigns/#{@campaign.id}/edit", class: "right btn btn-default btn-sm btn-info", style: "margin-top: -35px;"

.row
  .col-sm-6
    %div.alert.alert-success
      %div api呼叫 #{link_to @campaign.entity.count.to_s, "/campaigns/#{@campaign.id}/entities", class: "badge"} 次
      %div 描述: #{@campaign.desc}
      %div token: <strong>#{@campaign.token}</strong>
      %span 创建时间:#{@campaign.created_at.strftime("%Y/%m/%d %H:%M:%S")} <br>
      %span 更新时间:#{@campaign.updated_at.strftime("%Y/%m/%d %H:%M:%S")}

  .col-sm-6
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th 字段
          %th 别名
      %tbody
        -(1..@campaign.colnum).each do |i|
          %tr
            %td 字段#{i}
            %td= @campaign.instance_variable_get("@column#{i}")

.row
  .col-sm-12
    %h2{style: "margin: 0px auto 5px auto;"} API调用代码
    .alert.alert-info
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                url代码
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              %pre= @campaign.api_url

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                ajax代码
          #collapseTwo.panel-collapse.collapse
            .panel-body
              %pre= @campaign.api_ajax_code
              %div.alert.alert-warning ps: encodeURI(param)把字符串作为 URI 进行编码,避免中文传参乱码;

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                iframe代码
          #collapseThree.panel-collapse.collapse
            .panel-body
              %pre= @campaign.iframe_code
              %iframe{id: "iframe", src: "#{@campaign.iframe_url}", style: "width: 100%; border: none;"}
