-# coding: UTF-8
!!!
%html
  %head
    %title= [Settings.website.title, Settings.website.slogan].join(" | ")
    = javascript_include_tag "#{Settings.cdn.jquery}"
    = javascript_include_tag "#{Settings.cdn.bootstrap_js}"
    = stylesheet_link_tag "#{Settings.cdn.bootstrap_css}"
    :css
      .container { 
        background: white;
        padding: 10px;
        overflow: hidden;
      }
      .form-group label {
        font-weight: 400;
        text-align: center;
        line-height: 1.2;
      }
      .form-group small { display: block; }
      .required:before { content:"* "; }
  %body
    .container{style: "width:100%;"}
      .row
        .col-sm-12
          -if !@campaign.nil?
            = javascript_include_tag "/javascripts/template.js"
            %form.form-inline{:role => "form"}
              - @campaign.virtus_params.each do |vp|
                .form-group{class: "col-sm-#{params[vp.to_sym][:span]} #{params_whether_required(vp)}"}
                  - unless (text = params_value(vp, 'title', 'isuse', 'text')).nil?
                    %label{:for => "inputTemplate#{vp.capitalize}"}= text
                    %br
                  - unless (text = params_value(vp, 'desc', 'isuse', 'text')).nil?
                    %small{style: "color: #bbbdc0;"}= text 
                  %input.form-control{class: "#{params_whether_required(vp)}", placeholder: "#{params_value(vp, 'placeholder', 'isuse', 'text')}", type: "text", id: "inputTemplate#{vp.capitalize}"}
              .form-group{class: "col-sm-#{params[:submit][:span]}"}
                - unless (text = params_value('submit', 'title', 'isuse', 'text')).nil?
                  %label{:for => "templateSubmit"}= text
                  %br
                - unless (text = params_value('submit', 'desc', 'isuse', 'text')).nil?
                  %small{style: "color: #bbbdc0;"}= text
                %button.btn.btn-default.btn-primary#templateSubmit{type: "submit"}= params[:submit][:text][:text]
          -else
            .alert.alert-warning{style: "text-align:center;"}
              Campaign token不正确.

