-# coding: UTF-8
!!!
%html
  %head
    %title= [Settings.website.title, Settings.website.slogan].join(" | ")
    = javascript_include_tag "#{Settings.cdn.jquery}"
    = javascript_include_tag "#{Settings.cdn.bootstrap_js}"
    = stylesheet_link_tag "#{Settings.cdn.bootstrap_css}"
    :css
      .container { 
        background: transparent;
        padding: 10px;
        overflow: hidden;
      }
  %body
    .container{style: "width:100%;background:transparent;padding:10px;overflow:hidden;"}
      .row
        .col-sm-12
          -if !@campaign.nil?
            = javascript_include_tag "/javascripts/template.js"
            = stylesheet_link_tag "/stylesheets/template.css"
            .alert.alert-success.center.hidden
            %form.form-inline{:role => "form"}
              - temp = @campaign.template || @campaign.iframe_url
              - @campaign.virtus_params.each do |vp|
                .form-group{class: "col-sm-#{template_value(temp, vp, "span")} #{params_whether_required(temp, vp)}"}
                  - unless (text = template_value_whether_isuse(temp, vp, 'title', 'isuse', 'text')).nil?
                    %label{:for => "inputTemplate#{vp.capitalize}"}= text
                    %br
                  - unless (text = template_value_whether_isuse(temp, vp, 'desc', 'isuse', 'text')).nil?
                    %small{style: "color: #bbbdc0;"}= text 
                  %input.form-control{"data-column" => vp, class: "#{params_whether_required(temp, vp)}", placeholder: "#{template_value(temp, vp, 'placeholder', 'text')}", type: "text", id: "inputTemplate#{vp.capitalize}"}
              .form-group{class: "col-sm-#{template_value(temp, 'submit', 'span')}"}
                - unless (text = template_value_whether_isuse(temp, 'submit', 'title', 'isuse', 'text')).nil?
                  %label{:for => "templateSubmit"}= text
                  %br
                - unless (text = template_value_whether_isuse(temp, 'submit', 'desc', 'isuse', 'text')).nil?
                  %small{style: "color: #bbbdc0;"}= text
                %button.btn.btn-default.btn-primary#templateSubmit{type: "button", onclick: "Template.submit('#{@campaign.token}', '#{@campaign.iframe_params_find_feedback()}')"}= template_value(temp, "submit", "text", "text")
          -else
            .alert.alert-warning{style: "text-align:center;"}
              Campaign token不正确.

